@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    z-index: 0;
}
body {
    width: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    /* background-color: darkcyan; */
}
.slideshows {
    width: 100%;
    color: black;
    overflow: hidden;
    /* position: relative; */
}
.slides {
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction:row-reverse;
    position: relative;
    overflow: hidden;
    z-index: 2;
    /* display: none; */
}
.slides.active-slide {
    display: block;
}
.img-sect {
    padding: 0 0 10vh 0;
    width: 60%;
    height: 100vh;
    /* background-color: brown; */
    display: flex;
    align-items: flex-end;

}
.img-main-circle {
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color:transparent;
    position: absolute;
    bottom: 40%;
    left: 20%;
    z-index: 2;
    
}
.img-ctrl-circle {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    z-index: 0;
}
.img-main {
    width: 15%;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: -7%;
    left: 50%;
    transform: translateX(-50%);
}
.main-circle {
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: 40%;
    left: 20%;
    z-index: 1;
    overflow: hidden;
}
.ctrl-circle {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #C5F8C7;
    position: relative;
    z-index: 0;
    /* top: 0%;
    right: %; */
}
.mini-circle{
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /*border-style: dashed; */
    position: absolute;
    bottom: -30%;
    left: 25%;
}
.images{
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* background-color: black; */
    /*border-style: dashed; */
    position: absolute;
    bottom: -30%;
    left: 25%;
}
.ctrl-images{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* background-color: #717171; */
    /* background-color: red; */
    position: relative;
}
.img-rotate {
    width:15%;
    aspect-ratio: 1/1;
    position: absolute;
}
.img-rotate:nth-of-type(1){
    top: -7.5%;
    left: 50%;
    transform: translateX(-50%);
}
.img-rotate:nth-of-type(2){
    top: 1%;
    left: 15%;
}
.img-rotate:nth-of-type(3){
    top: 22%;
    left: -3%;
}
.img-rotate:nth-of-type(4){
    top: 22%;
    right: -3%;
}
.img-rotate:nth-of-type(5){
    top: 1%;
    right: 15%;
}
.name{
    margin: 0 0 0 25%;
    width: 17rem;
    color:black;
    font-weight:600 ;
    line-height: 4rem;
    text-align: center;
    background: #00A1072B;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.text-sect{
    width: 40%;
    height: 100vh;
    padding: 0% 3% 10vh 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.rating{
    padding: 0 0 1rem 0;
    color: #4CAF50;
    font-weight: 700;

}
.staf-name{
    font-weight: 700;
    font-size: 1.5rem;
}
.job {
    padding: 0 0 1rem 0;
    font-weight: 600;
    font-size: 1.5rem;
}
.star-rating{
    width: 100%;
    padding: 0 0 0.8rem 0;
    display: flex;
    gap: 0.4rem;
}
.star{
    width: 1.3rem;
    aspect-ratio: 1/1;
}

.half-star {
    aspect-ratio: 2/1;
}
.desc-sect {
    height: 10rem;
    margin: 0 0 2rem 0;
    font-size: 1rem;
}
.desc{
    text-align:justify;
}
.bas{
    padding: 0 2.7rem ;
    font-weight: 600;
    color: white;
    border: none;
    font-size: 1rem;
    text-align: center;
    line-height: 2.8rem;
    background: #4CAF50;
    box-shadow:0.75rem 0.5rem 4rem #4CAF50;
}
/* .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: brown;
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
} */
/* .slider-btns{
    position: relative;
} */
.slide-next, .slide-prev{
    width: 2.3rem;
    aspect-ratio: 1/1;
    background-color: #4CAF50;
    border-radius: 100%;
    position:absolute ;
    top: 63vh;
    z-index: 3;
    transition: 0.6s ease;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slide-next{ 
    left: 40%;

}
.slide-prev{
    right: 10%;
}
.arrow{
    width: 0.8rem;
}
/* .next {
    z-index: 3;
    right: 0;
    border-radius: 3px 0 0 3px;
}  
.prev {
    z-index: 3;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
} */
.slide1{
    display: flex;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 10}
  } 
@media only screen and (max-width: 1099px){
    html{
        font-size: 20px;
    }
    .slides{
        height: auto;
        flex-direction: column;
        gap: 2rem;
    }
    .img-sect {
        padding: 0 0 0 0;
        width: 100%;
        height: 40vh;
        display: flex;
        justify-content: center;
    
    }
    
    .main-circle {
        width: 125%;
        bottom: 75%;
        left: 50%;
        transform: translateX(-50%);
    }
    .img-main-circle {
        width: 125%;
        bottom: 75%;
        left: 50%;
        transform: translateX(-50%);   
    }
    .name{
        margin: 0 0 0 0;
    }
    .text-sect{
        width: 100%;
        height: unset ;
        padding: 0 ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .staff-bio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .star-rating{
        display: flex;
        justify-content: center;
    }
    .desc{
        padding: 0 3%;
        text-align: center;
    }
    .slide-next, .slide-prev{
        top: 25vh;
    }
    .slide-next{
        left: 13%;
    }   
    .slide-prev{
        right: 13%;
    }
}
@media only screen and (max-width:800px){
    html{
        font-size: 16px;
    }
    
}
@media only screen and (max-width: 600px){
    html{
        font-size: 12px;
    }
}